.header-component {
  width: inherit;
  height: 10vh;
  @include horizontal-align;
  background-color: $header-bg-color;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  h1 {
    text-transform: uppercase;
    color: $h1-color;
  }
  .icon {
    color: $h1-color;
    font-size: 1.6em; //26px
  }
}
