@mixin aligned-central {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin radio-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin horizontal-align {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin vertical-channels-align {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
} ;
