@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import './mixins';
@import './var';
@import '../components/Radio/radio-component.styles.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: $base-color;
  @include aligned-central;
  font-family: 'Roboto', sans-serif;
  color: $text-color;

  .App {
    width: 70vw;
    height: 60vh;
    @include aligned-central;
  }
}
