.radio-lists-component {
  list-style: none;
  @include horizontal-align;
  height: 6vh;
  margin: 0 1vw;
  font-size: 1.5rem;
  border-bottom: 0.1px solid $text-color;
  &:hover {
    opacity: 0.8;
  }
  :last-child {
    font-weight: bold;
  }
}

.radio-lists-component-extended {
  @include horizontal-align;
  list-style: none;
  height: 12vh;
  margin: 0 1vw;
  border-bottom: 0.1px solid $text-color;
  img {
    width: 30%;
    border-radius: 50%;
  }
  transition: all 220ms ease-in;
}

@media (max-width: 767px) {
  .radio-lists-component {
    height: inherit;
  }
  .radio-lists-component-extended {
    height: 18vh;

    img {
      width: 30%;
      margin: 1vh 0;
    }
  }
}
