.radio-lists-component {
  list-style: none;
  @include horizontal-align;
  height: 6vh;
  margin: 0 1vw;
  font-size: 1.5rem;
  border-bottom: 0.1px solid $text-color;
  :last-child {
    font-weight: bold;
  }
}

.radio-lists-component-extended {
  @include aligned-central;
  list-style: none;
  height: 12vh;
  margin: 0 1vw;
  border-bottom: 0.1px solid $text-color;
  img {
    width: 30%;
    border-radius: 50%;
  }
}
